.frameChild {
  width: 35px;
  position: relative;
  height: 35px;
}

.interview {
  position: relative;
  line-height: 22.4px;
  font-weight: 300;
}

.interviewParent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 62px;
}

.frameParent {
  gap: 61px;
}

.componentParent,
.frameParent,
.frameWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.componentParent {
  position: absolute;
  top: 78px;
  left: 0;
  width: 1164px;
  align-items: center;
  justify-content: flex-end;
  gap: 182px;
}

.areYouReady {
  position: absolute;
  top: 822px;
  left: 313px;
  font-size: var(--font-size-5xl);
  line-height: 22.4px;
  font-weight: 600;
  text-align: center;
  display: -webkit-inline-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  width: 886px;
}

.boostYour {
  margin-block-start: 0;
  margin-block-end: 5px;
}

.aiu,
.boostYour,
.with {
  font-weight: 600;
}

.aiu {
  font-family: var(--font-josefin-sans);
  background: linear-gradient(178.39deg, #fff, #72d3f6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.withAiu {
  margin: 0;
}

.boostYourConfidenceContainer {
  position: absolute;
  top: 29px;
  left: 0;
  display: inline-block;
  width: 442px;
  height: 260px;
  font-family: var(--font-inter);
}

.experienceNow {
  cursor: pointer;
  display: flex;
  width: 324px;
  height: 47px;
  padding: 12px 17px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #FFF;
  border: none;
  /* font-family: var(--font-inter); */
  color: var(--Purple-blue, #3932E5);
  font-family: Sarabun;
  font-size: 24px;
}

.experienceNowWrapper {
  position: absolute;
  top: 429px;
  left: 4px;
  border-radius: 8px;
  /* background-color: var(--color-white); */
  width: 324px;
  height: 47px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 17px;
  box-sizing: border-box;
  font-size: var(--font-size-5xl);
  color: var(--purple-blue);
}

.anAiPowered {
  position: absolute;
  top: 323px;
  left: 13px;
  font-size: 16px;
  line-height: 22.4px;
  display: inline-block;
  width: 256px;
  height: 60px;
}

.image8Icon,
.image9Icon {
  position: absolute;
  top: 0;
  left: 732px;
  border-radius: var(--br-mini);
  width: 490px;
  height: 319px;
  object-fit: cover;
}

.image8Icon {
  top: 211px;
  left: 551px;
  width: 436px;
  height: 283px;
}

.frame {
  position: absolute;
  top: 239px;
  left: 140px;
  width: 1222px;
  height: 494px;
  overflow: hidden;
  font-size: 72px;
}

.landingPage {
  width: 100%;
  position: relative;
  background-color: #362fcb;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-sarabun);
}
.main {
  background-color: #362fcb;
}